/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Font */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

header .logo {
    flex-basis: 20%; /* Adjust logo width */
}

header .logo img {
    width: 100px;
}

.header-content {
    flex-basis: 80%;
    text-align: center;
}

header .site-title {
    font-size: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-header {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-header:hover {
    background-color: #777;
}

.active {
    background-color: #007BFF;
}

/* Main Content */
main {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Contact Section */
.contact h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    color: #333;
}

.contact p {
    text-align: center;
    margin-bottom: 30px;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

form input, form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

form textarea {
    resize: none;
}

.btn-submit {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #555;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
